<!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--<img class="img-responsive" src="img/profile.png" alt="">-->
                    <div class="intro-text">
                        <span class="name">Arte en un solo lugar</span>
                        <!--<span class="skills">Las obras mas impresionantes están acá</span>-->
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- <h2>Recomendación del día</h2> -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item" ng-repeat="art in arts">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{art.image}}" class="img-responsive" alt="">
                    </a>
                </div>
                
            </div>
        </div>
    </section>
